.cbd-progress {
	display: flex;
	height: 1rem;
	overflow: hidden;
	font-size: .75rem;
	background-color: #e9ecef;
	border-radius: .25rem;
}

.cbd-progress-bar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	background-color: #007bff;
	transition: width .6s ease;
}

.cbd-progress-text {
	position: absolute;
	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	left: 50%;
    transform: translate(-50%, 0);
}

.cbd-hide {
	display: none !important;
}

.cbd-alert {
	margin-top: 1rem;
	position: relative;
	padding: .75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: .25rem;
}

.cbd-alert-success {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
}

.cbd-alert-danger {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}